
/* 
    Stylesheet for addFoodItem.jsp, addInventory.jsp, and updateInventory.jsp
    Author     : WANG JIAYUN
*/

/* General body styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header styling */
header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

/* Navigation styling */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li p {
    display: inline;
    color: #876969;
    text-decoration: none;
}

/* Main content styling */
main {
    flex: 1;
    padding: 2rem;
    text-align: center;
}

/* Form styling */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

form label {
    width: 20%;
    margin: 0.5rem;
    text-align: end;
}

form input, form select {
    width: 75%;
    padding: 0.5rem;
    margin: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Button styling */
form button {
    background-color: #4CAF50;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: max-content;
}

form button:hover {
    background-color: #45a049;
}
/* Form div styling */
form div {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
}

form div label {
    flex: 1;
    text-align: right;
    margin-right: 1rem;
}

form div input, form div select {
    flex: 3;
}
/* Footer styling */
footer {
    background-color: #876969;
    color: white;
    text-align: center;
    padding: 1rem 0;
}