<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>org.cst8288.foodwastereduction.controller.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>org.cst8288.foodwastereduction.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>org.cst8288.foodwastereduction.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FoodItemServlet</servlet-name>
        <servlet-class>org.cst8288.foodwastereduction.controller.FoodItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InventoryServlet</servlet-name>
        <servlet-class>org.cst8288.foodwastereduction.controller.InventoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InventoryUpdateServlet</servlet-name>
        <servlet-class>org.cst8288.foodwastereduction.controller.InventoryUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InventoryStatusServlet</servlet-name>
        <servlet-class>org.cst8288.foodwastereduction.controller.InventoryStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InventoryAddServlet</servlet-name>
        <servlet-class>org.cst8288.foodwastereduction.controller.InventoryAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClaimFoodServlet</servlet-name>
        <servlet-class>org.cst8288.foodwastereduction.controller.ClaimFoodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>org.cst8288.foodwastereduction.controller.PaymentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FoodItemServlet</servlet-name>
        <url-pattern>/foodItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InventoryServlet</servlet-name>
        <url-pattern>/inventory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InventoryUpdateServlet</servlet-name>
        <url-pattern>/inventoryUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InventoryStatusServlet</servlet-name>
        <url-pattern>/inventoryStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InventoryAddServlet</servlet-name>
        <url-pattern>/inventoryAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClaimFoodServlet</servlet-name>
        <url-pattern>/claimFood</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <listener>
        <listener-class>org.cst8288.foodwastereduction.utility.MyAppContextListener</listener-class>
    </listener>
</web-app>
